@import url(https://fonts.googleapis.com/css?family=Heebo:,regular,500,700,900);
*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    font-family: 'Heebo';
}
ul li{ list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.header {
    max-width: 1030px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    margin: 0px auto;
}
.header__menu {
}
.header__item {
    color: #000000;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    margin: 0px 0px 0px 33px;
}
.header__item-active{
    color: #FF6464;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    margin: 0px 0px 0px 33px;
}
.container {
    width: 680px;
    margin: 0px auto;
}
.works {
}
.works__title {
    margin: 78px 0px 30px 0px;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
}
.works__subtitle {
    display: flex;
}
.works__data {
    width: 62px;
    height: 25px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background: #FF7C7C;
    border-radius: 16px;
    margin: 0px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.works__subtitle-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}
.works__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 23px 0px 46px 0px;
}
.works__picture {
    
}
.works__img {
}
.works__heding1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
    margin: 54px 0px 15px 0px;
    }
.works__heading2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
}
.footer {
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 83px 0px 0px 0px;
}
.footer__pictures {
    display: flex; 
    margin: 30px 0px;
}
.img {
    margin: 0px  20px;
}
.footer__text {
    color: #21243D;
    font-weight: 400;
font-size: 14px;
}